
.background {
  background-color: #ff5a5f;
  height: 55px;
  width: 100%;
  
}

ul  {
  list-style-type: none;
  background-color:#ff5a5f;
  margin: 0px;
  text-align: center;
}

ul li {
  display: inline-block;
}

li .link {
  text-decoration: none;
  color: white;
  display:block;
  width: 100px;
  padding: 15px;
}
